Header{
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    display: block;
}

.App-logo{
   width: 10vw;
   display: block;
   height: 10vh
}

.App-intro {
    text-align: center;
}